.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #87ceeb;
  position: sticky;
  z-index: 1000;
}
.header__logo {
  width: 50px;
  object-fit: contain;
  padding: 18px 20px 18px 20px;
  margin: 18px 20px 18px 20px;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 24px;
  margin: 18px 0px 18px 390px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #fd7730;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  color: #fd7730;
  margin: 0px 20px 0px 20px;
  padding: 18px 20px 18px 20px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 60px;
}
.option__lineOne {
  font-size: 10px;
  font-weight: 600;
  color: #fd7730;
}

.option__lineTwo {
  font-size: 10px;
  font-weight: 800;
  color: #fd7730;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fd7730;
}

.header__basketCount {
  margin: 0 10px;
}

.header__nav > a {
  text-decoration: none;
}
